<div [class.m2app-dark]="isDarkTheme">
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
      <div class="text-menu">LOGO</div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <i class="material-icons">build</i>Item 1</mat-list-item>
        <mat-list-item role="listitem">
          <i class="material-icons">description</i>Item 2</mat-list-item>
        <mat-list-item role="listitem">
          <i class="material-icons">alarm</i>Item 3</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>
      <h1>Angular Material2 Example App</h1>
      <span class="app-toolbar-filler"></span>
      <button mat-button (click)="isDarkTheme = !isDarkTheme">TOGGLE THEME</button>
    </mat-toolbar>

    <mat-tab-group class="mat-tab-group-container">
      <mat-tab label="USERS">

        <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field> -->

        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef> Display name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.displayName}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['id', 'userName', 'email', 'displayName']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['id', 'userName', 'email', 'displayName'];"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
        </mat-paginator>

        <span class="done" matTooltip="Open dialog">
          <button mat-fab color="accent" (click)="openDialog();">
            <mat-icon>check circle</mat-icon>
          </button>
        </span>
      </mat-tab>
     

      <mat-tab label="ROLES">

        <mat-table #table [dataSource]="roles">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let role"> {{role.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let role"> {{role.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef> Display name </mat-header-cell>
            <mat-cell *matCellDef="let role"> {{role.displayName}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedRoleColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedRoleColumns;"></mat-row>
        </mat-table>

      </mat-tab>
      <mat-tab label="CURRENCIES">

        <mat-table #table [dataSource]="currencies">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let currency"> {{currency.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef> Display name </mat-header-cell>
            <mat-cell *matCellDef="let currency"> {{currency.displayName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="toUSD">
            <mat-header-cell *matHeaderCellDef> To USD </mat-header-cell>
            <mat-cell *matCellDef="let currency"> {{currency.toUSD}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fromUSD">
            <mat-header-cell *matHeaderCellDef> From USD </mat-header-cell>
            <mat-cell *matCellDef="let currency"> {{currency.fromUSD}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedCurrenciesColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedCurrenciesColumns;"></mat-row>
        </mat-table>

      </mat-tab>

      <mat-tab label="SAMPLE TAB">
        <mat-card>
          <button mat-button>All</button>
          <button mat-raised-button>Of</button>
          <button mat-raised-button color="primary">The</button>
          <button mat-raised-button color="accent">Buttons</button>
        </mat-card>
        <button mat-fab color="warn">Error</button>
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
        <mat-spinner></mat-spinner>
        <mat-card>
          <mat-card-title>Simple card title
            <mat-icon>home</mat-icon>
          </mat-card-title>
          <mat-card-content>
            <span matTooltip="Tooltip!">I have a tooltip</span>
          </mat-card-content>
        </mat-card>
        <button mat-menu-item>
          <mat-icon> notifications_off </mat-icon>
          <span> Disable alerts menu item </span>
        </button>
        <mat-card>
          <mat-chip-list>
            <mat-chip>List of values</mat-chip>
            <mat-chip color="warn" selected="true">as individual</mat-chip>
            <mat-chip color="primary" selected="true">keyboard accessible</mat-chip>
            <mat-chip color="accent" selected="true">chips
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-container>
</div>