
.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-toolbar-menu {
  padding: 14px;
  color: white;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-sidenav {
  padding-top: 10px;
  min-width: 200px;
}

.text-menu {
  text-align: center;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 12px;
}

.mat-tab-group-container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mat-table {
  margin-top: 25px;
}

.done {
  position: absolute;
  right: 10px;
}

.mat-progress-spinner {
  display: inline-block;
}

mat-list-item {
  border-top: 1px solid grey;
    &:hover{
      color: white;
      background-color: lightslategrey;
    }
}
