/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-dialog-container {
  width: 600px !important;
  margin-left: -100px;
}

.mat-tab-body-content {
  height: 700px !important;
  overflow: unset !important;
}
